doctype html
html(lang=lang)
    include ./mixins.jade
    head
        block vars
        title #{title} - Jérémy VIGNELLES
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, user-scalable=no")
        +alternativeLanguages
        block styles
            link(rel="stylesheet",media="screen",href="/stylesheet/style.css")
            | <!--[if lte IE 10]> <link rel="stylesheet" media="screen" href="/stylesheet/style-ie.css"> <![endif]-->
        block scripts
            script(type="text/javascript", src="/script/script.js", defer=true)
    body
        nav#navbar
            div#navbar-content
                input#collapse-button-checkbox(type="checkbox")
                div#collapse-button
                    label(for="collapse-button-checkbox")= _("menu.collapseButton")
                div#navbar-inner-content
                    ul(role="menu")
                        li: a(href="/") Version Française
                        li: a(href="/en") English version
                        li: a(href=_("contact.url"))= _("contact.label")
                    div#fork-me
                        a(href="https://github.com/jeremyVignelles/jeremyVignelles")= _("menu.showOnGithub")
        main#content
            | <!--[if lt IE 9]> <div class="alert error">!{_("message.unsupportedIe")}</div> <![endif]-->
            | <!--[if (gte IE 9)&(lt IE 10)]> <div class="alert warning">!{_("message.usingIe")}</div> <![endif]-->
            div.alert.info= _("message.underConstruction")
            block content