if standalone
    doctype xml
svg(xmlns="http://www.w3.org/2000/svg",
    version="1.1",
    width=logoTools.imageSize,
    height=logoTools.imageSize,
    viewBox="0 0 "+logoTools.imageSize + " " + logoTools.imageSize)
    style(type="text/css")
        |.hexagonLine {
        |   stroke: #888;
        |   stroke-width: 3;
        |}
        |.rectangle {
        |   fill: #0059b3;
        |}
        |.polygon1 {
        |   fill: #3399FF;
        |}
        |.polygon2 {
        |   fill: #55CCFF;
        |}
    each line in logoTools.hexagonSides
        line.hexagonLine(x1=line[0].x, y1=line[0].y, x2=line[1].x, y2=line[1].y)

    rect.rectangle(x=logoTools.rectangle.x, y=logoTools.rectangle.y, width=logoTools.rectangle.width, height=logoTools.rectangle.height)

    polygon.polygon1(points=logoTools.polygon1.join(' '))
    polygon.polygon2(points=logoTools.polygon2.join(' '))